<script type="text/ng-template" id="/sermonDetails.html">
    <button ng-show="!editing" ng-click="edit()">edit</button>
    <button ng-show="!editing" ng-click="remove()">remove</button>

    <!-- editing text fields and update/cancel buttons -->
    <section ng-show="editing">
        permalink: <input ng-show="editing" type="text" ng-model="sermon.permalink"> <br />
        title: <input ng-show="editing" type="text" ng-model="sermon.title"> <br />
        date: <input ng-show="editing" type="datetime" ng-model="sermon.date"> <br />
        description <textarea ng-show="editing" ng-model="sermon.description"></textarea> <br />
        video uri: <input ng-show="editing" type="url" ng-model="sermon.videoUri"> <br />

        series: <input ng-show="editing" type="text" ng-model="sermon.series._id"> <br />
        church: <input ng-show="editing" type="text" ng-model="sermon.church._id"> <br />
        speakers: <ul ng-repeat="speaker in sermon.speakers">
            <li>
                <input ng-show="editing" type="text" ng-model="speaker._id"> <button ng-click="removeSpeaker(speaker)">delete</button>
            </li>
        </ul>
        <input ng-show="editing" type="text" ng-model="new_speaker_id" placeholder="add speaker" class="ng-pristine ng-valid">

        <br /><br />

        <button ng-show="new" ng-click="save()">save</button>
        <button ng-show="!new" ng-click="update()">update</button>
        <button ng-show="!new" ng-click="remove()">remove</button>
        <button ng-show="editing" ng-click="cancel()">cancel</button>
    </section>

    <!-- viewing sermon information -->
    <article ng-show="!editing">
        <header>
            <h1>{{sermon.title}}</h1>
            <h4>{{sermon.series.title}}</h4>
            Date: <time pubdate="pubdate" datetime="{{sermon.date}}">{{sermon.date}}</time> <br />
            Speakers: <ul>
                <li ng-repeat="speaker in sermon.speakers">
                    <a href="#/speakers/{{speaker._id}}">{{speaker.givenName}} {{speaker.familyName}}</a>
                </li>
            </ul>
        </header>

        <video poster="{{sermon.series.imageUri}}" src="{{sermon.videoUri}}"></video>
        <p>{{sermon.description}}</p>

        <footer>
            <p>
                {{sermon.church.name}} <br />
                <small>An {{sermon.church.denomination}} Church</small>
            </p>
        </footer>
    </article>
</script>
