<script type="text/ng-template" id="/speakers.html">
    Search: <input type="text" ng-model="search.givenName">
    <ul>
        <li ng-repeat="speaker in speakers | filter: search">
            <!-- figure out how to get fullName (push logic to API?) -->
            <a href="#/speakers/{{speaker._id}}">{{speaker.givenName}} {{speaker.familyName}}</a>
        </li>
    </ul>
    <input type="text" ng-model="newSpeaker" placeholder="Enter Speaker Name (i.e. first last)" required><button ng-click="save()">Create</button>
</script>
