extends layout

block content
    div(layout='row', ng-controller='MenuCtrl', style="height: 100%;")
        md-sidenav(class="md-sidenav-left md-whiteframe-z2 ng-isolate-scope", md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1")
            md-toolbar(class="md-theme-indigo md-toolbar-tools")
                md-button(ng-click="toggleLeft()", class="md-icon-button", hide-gt-sm, aria-label="Close Menu")
                    md-icon(md-svg-icon="ic_arrow_back", style="color: #fff;", aria-hidden="true")
                md-button(ng-href="./admin", class="md-icon-button", show-gt-sm, aria-label="Application Icon")
                    md-icon(md-svg-icon="menu", aria-hidden="true")
                h2(class="md-toolbar-item md-breadcrumb") Pocketsermons
            md-content(ng-controller="LeftCtrl", role="navigation", class="md-default-theme")
                md-button(ng-click="navigate('/churches')", class="nav md-primary") Churches
                md-button(ng-click="navigate('/series')", class="nav md-primary") Series
                md-button(ng-click="navigate('/sermons')", class="nav md-primary") Sermons
                md-button(ng-click="navigate('/speakers')", class="nav md-primary") Speakers

        div(layout='column', flex)
            md-toolbar
                div(class="md-toolbar-tools", ng-click="toggleLeft()", tabindex="-1", role="button")
                    md-button(ng-click="toggleLeft()", class="md-icon-button mb-button md-default-theme", ng-transclude, hide-gt-sm, aria-label="Toggle Menu")
                        md-icon(md-svg-icon="ic_menu" style="color: #fff;" aria-hidden="true")
                    h2(class="md-toolbar-item md-breadcrumb")
                        span(class="md-breadcrumb-page") Admin Interface

            md-content(flex, md-scroll-y, layout-padding, class="layout-content ng-scope")
                div(layout="column", style="padding: 20px", layout-fill, layout-align="top center", class="content")
                    ng-view
