extends layout

block content
    // Libraries
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js')

    // Angular Templates
    include ../public/javascripts/templates/sermons.html
    include ../public/javascripts/templates/sermonDetails.html
    include ../public/javascripts/templates/churches.html
    include ../public/javascripts/templates/churchDetails.html
    include ../public/javascripts/templates/speakers.html
    include ../public/javascripts/templates/speakerDetails.html

    // Main AngularJS App
    script(src='/javascripts/app.js')
    script(src='/javascripts/pocketsermons/pocketsermons.js')
    script(src='/javascripts/pocketsermons/controllers/sermonController.js')
    script(src='/javascripts/pocketsermons/factories/sermonFactory.js')
    script(src='/javascripts/pocketsermons/routes/sermonRoutes.js')
    script(src='/javascripts/pocketsermons/controllers/churchController.js')
    script(src='/javascripts/pocketsermons/factories/churchFactory.js')
    script(src='/javascripts/pocketsermons/routes/churchRoutes.js')
    script(src='/javascripts/pocketsermons/controllers/speakerController.js')
    script(src='/javascripts/pocketsermons/factories/speakerFactory.js')
    script(src='/javascripts/pocketsermons/routes/speakerRoutes.js')

    h1= title

    ng-view
